:root {
    --font-color: #ddd;
    --main-background:  #41b3a3; 
    --orange-tinge: #e27d60;
    --light-blue: #85dcb8;
    --light-orange: #e8a87c;

    --box-size: 100px;
    --mark-size: calc(var(--box-size) * .9);
}

h1 {
    color: var(--font-color);
    text-shadow: 2px 2px #333;
    align-items: top;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--main-background);
}

.game-board {   
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3,auto);
}

.game-board {

}

.box {
    height: var(--box-size);
    width: var(--box-size);
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.box:hover , .box.o:hover:after {
    cursor: pointer;
    background-color: var(--light-blue);
}

.box:first-child, 
.box:nth-child(2), 
.box:nth-child(3){
    border-top: none;
}

.box:nth-child(3n + 1) {
    border-left: none;
}

.box:nth-child(3n + 3) {
    border-right: none;
}

.box:nth-child(7),
.box:nth-child(8),
.box:last-child {
    border-bottom: none;
}

.box.x:hover,
.box.o:hover {
    cursor: not-allowed;
}

.box.x::before,
.box.x::after {
    content: '';
    position: absolute;
    width: calc(var(--mark-size) * .15);
    height: var(--mark-size);
    background-color: black;
}

.box.x::before {
    transform: rotate(45deg);
}

.box.x::after {
    transform: rotate(-45deg);
}

.box.o::before,
.box.o::after {
    content: '';
    position: absolute;
    border-radius: 50%;  
}

.box.o::before {
    width: var(--mark-size);
    height: var(--mark-size);
    background-color: black;
}

.box.o::after {
    width: calc(var(--mark-size) * .7);
    height: calc(var(--mark-size) * .7);
    background-color: var(--main-background);
}