:root {
    --font-color: #ddd;
    --main-background:  #41b3a3; 
    --orange-tinge: #e27d60;
    --light-blue: #85dcb8;
    --light-orange: #e8a87c;

    --box-size: 100px;
}

h1 {
    color: var(--font-color);
    text-shadow: 2px 2px #333;
    align-items: top;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--main-background);
}

.game-container {   
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 15vh auto;
    justify-content: center;
    align-content: center;
}

.box {
    display: flex;
    text-align: center;
    height: var(--box-size);
    width: var(--box-size);
    border: 2px solid black;
}

.box:hover {
    cursor: pointer;
    background-color: var(--light-blue);
}

.box:nth-child(1), 
.box:nth-child(2), 
.box:nth-child(3){
    border-top: none;
}

.box:nth-child(1), 
.box:nth-child(4), 
.box:nth-child(7){
    border-left: none;
}

.box:nth-child(3), 
.box:nth-child(6), 
.box:nth-child(9){
    border-right: none;
}

.box:nth-child(7), 
.box:nth-child(8), 
.box:nth-child(9){
    border-bottom: none;
}

span {
    margin: auto;
    font-size: 2rem;
}