:root {
    --font-color: #ddd;
}

h1 {
    color: var(--font-color);
    text-shadow: 2px 2px #333;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #41B3A3;
}

.play-btn {
    outline: none;
    border: 4px solid green;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    background: none;
    transition: all 0.2s ease-in-out;
}